setuptools>=80.9.0
wheel
numpy
opencv-python
Pillow
fastapi
uvicorn
python-multipart
python-jose[cryptography]==3.3.0
pydantic==2.5.0
requests==2.31.0
# dlib - use pre-built binary package
dlib-bin
mediapipe
scipy
